@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
    background-color: hsla(230, 50%, 10%, 1);
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    color: hsla(255, 10%, 90%, 1);
}

input {
    border: 1px solid #1e3a8a;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
}

button {
    border: 1px solid #1e3a8a;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    // color: hsla(255, 10%, 90%, 1);
    cursor: pointer;
}

span {
    margin: 0 0 0 0.5rem;
}

.custom-title {
    // color: #1e3a8a;
    font-size: 2rem;
}